body {
  background-color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#cssMenu {
  position: fixed;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
#restOfContent {
  padding-top: 11%;
}

.copy {
  text-align: center;
}
.instaContainer {
  display: flex;
  justify-content: center;
}

.introTextContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(30, 13, 45, 0.03);
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
}
.introText {
  padding: 10px;
  font-weight: bold;
}
.fillerText {
  font-size: calc(12px + 3vmin);
  font-weight: bold;
  text-align: center;
  color: #ee82ee;
  font-family: "Tangerine";
}
.fa {
  padding: 5vmin;
  font-size: calc(10px + 2vmin);
  width: 2vw;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #ee82ee;
  color: white;
  border-right: 5px solid white;
}
.fa-instagram {
  background: #ee82ee;
  color: white;
  border-right: 5px solid white;
}
.NavBarTitle {
  font-size: calc(12px + 3vmin);
  margin-left: 2vh;
  flex-grow: 3;
  color: #ee82ee;
  font-family: "Tangerine";
}
